<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:name="project.objects.database.SessionDatabaseReference"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="project.activities.admin.New_Session" />
        <activity android:name="project.activities.admin.AdminSessionEdit" />
        <activity android:name="project.activities.player.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="project.activities.player.Create_User" />
        <activity android:name="project.activities.admin.MarketPlaceForAdmin"/>
        <activity android:name="project.activities.managers.Wait_Page" />
        <activity android:name="project.activities.admin.DownloadPage" />
        <activity android:name="project.activities.admin.AdminHub" />
        <activity android:name="project.activities.investors.Investor_Round_Intro" />
        <activity android:name="project.activities.player.EndPage" />
        <activity android:name="project.activities.investors.View_Companies" />
        <activity android:name="project.activities.investors.orderstockActivity" />
        <activity android:name="project.activities.investors.editorderActivity" />
        <activity android:name="project.activities.admin.Enter_Num_Players" />
        <activity android:name="project.activities.player.Relevant_terminology" />
        <activity android:name="project.activities.admin.Admin_Menu" />
        <activity android:name="project.activities.admin.Set_Parameters" />
        <activity android:name="project.activities.investors.MarketPlace" />
        <activity android:name="project.activities.managers.MarketPlaceForMan" />
        <activity android:name="project.activities.managers.Manager_Home_Page" />
        <activity android:name="project.activities.investors.Investor_Instructions_Fragment" />
        <activity android:name="project.activities.player.Sign_up_player" />
        <activity android:name="project.activities.player.GameMenu" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>