<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="Project.Activities.Player.Create_User"></activity>
        <activity android:name="Project.Activities.Managers.Wait_Page" />
        <activity android:name="Project.Activities.Admin.DownloadPage" />
        <activity android:name="Project.Activities.Admin.AdminHub" />
        <activity android:name="Project.Activities.Investors.Investor_Round_Intro" />
        <activity android:name="Project.Activities.Player.EndPage" />
        <activity android:name="Project.Activities.Investors.View_Companies" />
        <activity android:name="Project.Activities.Investors.orderstockActivity" />
        <activity android:name="Project.Activities.Investors.editorderActivity" />
        <activity android:name="Project.Activities.Admin.Enter_Num_Players" />
        <activity android:name="Project.Activities.Player.Relevant_terminology" />
        <activity android:name="Project.Activities.Admin.Admin_Menu" />
        <activity android:name="Project.Activities.Admin.Sign_up_admin" />
        <activity android:name="Project.Activities.Admin.Set_Parameters" />
        <activity android:name="Project.Activities.Admin.Set_Parameters_Schedule" />
        <activity android:name="Project.Activities.Investors.MarketPlace" />
        <activity android:name="Project.Activities.Managers.MarketPlaceForMan" />
        <activity android:name="Project.Activities.Managers.Manager_Home_Page" />
        <activity android:name="Project.Activities.Investors.Investor_Instructions_Fragment" />
        <activity android:name="Project.Activities.Player.Sign_up_player" />
        <activity android:name="Project.Activities.Player.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>